rect.past {
		fill: #dbdbdb;
		stroke: #EEEEEE;
}

/* Prioritize on most */
rect.on {
		fill: #FFFFFF;
		stroke: #111111;
}

rect.off {
		fill: #FFFFFF;
		stroke: #EEEEEE;
}

.tooltip {
		background-color: #FFFFFF;
		border: 2px solid #CCCCCC;
		padding: 10px;
}
